:root {
  --dark-color: #0a1b33;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}
body {
  font-family: "Roboto", sans-serif;
}
.main-btn {
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 2px 8px;
  border: none;
}
.main-btn:hover {
  background-color: red;
  color: white;
  text-decoration: none;
}
/* start navbar */
.logo-nav {
  width: 100px;
}
.navbar {
  background-color: var(--dark-color);
  height: 72px;
}
.navbar .nav-item .nav-link {
  color: white;
  font-size: 18px;
}
.navbar .nav-item .nav-link:active,
.navbar .nav-item .nav-link:focus,
.navbar .nav-item .nav-link:hover {
  color: var(--green-color);
}
.navbar-toggler-icon {
  color: white;
}
.navbar .search {
  border-left: 1px solid var(--green-color);
  padding-left: 10px;
  margin-left: 10px;
}
.navbar .search i {
  color: var(--green-color);
}
.navbar-toggler {
  color: white;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler[aria-expanded="true"] {
  border: 3px solid var(--green-color);
}
.navbar-toggler[aria-expanded="false"] {
  border: 3px solid white;
}
/* end navbar */
/* start landing */
.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}
.main-title::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
/* end landing */
/* start features */
.features .icon-iamge {
  width: 200px;
}
.features .icon-holder {
  height: 200px;
}
.features .icon-holder i {
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder i.number {
  font-size: 12rem;
  color: var(--section-color);
}
.features .icon-holder i.icon {
  color: var(--green-color);
  font-size: 60px;
}
.features .feat h4 {
  color: var(--yellow-color);
}
/* end features */
/* start our-work */
.our-work .icon-iamge {
  width: 200px;
}
.our-work {
  background-color: var(--section-color);
}
.our-work ul .active {
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.our-work ul li {
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
}
.our-work ul li:not(.active):hover {
  color: var(--red-color);
}
.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.our-work .img-box {
  width: 100%;
  height: 150px;
}
.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: rgba(0, 128, 0, 0.377);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  transition: 0.3s;
  font-size: 1.5rem;
  transform: translate(calc(-100% - 5px));
}
.our-work .box:hover::before {
  transform: translateX(0);
}
/* end our-work */
/* start stuff */
.stuff .icon-iamge {
  width: 200px;
}
.stuff .description {
  width: 400px;
}
/* end stuff */
/* start our-team */
.our-team {
  background-color: var(--section-color);
}
.team-img {
  width: 100%;
  height: 350px;
}
.our-team .container h2 {
  color: var(--yellow-color);
}
.our-team h4 {
  background-color: var(--green-color);
}
/* end our-team */
/* start project */
.project {
  background-color: var(--dark-color);
}
/* end project */
/* start Blog */
.blog {
  margin: 20px 40px;
}
.blog .icon-iamge {
  width: 200px;
}
.blog .blog-image {
  width: 100%;
}
/* end Blog */
/* start subscribe */
.subscribe {
  background-color: var(--yellow-color);
}
.subscribe input[type="email"] {
  border: none;
  border-bottom: 1px solid white;
}
.subscribe input[type="email"]:focus {
  outline: none;
}
.subscribe input[type="email"]::placeholder {
  color: white;
}
.subscribe input[type="submit"] {
  background-color: var(--dark-color);
  color: var(--yellow-color);
}
/* end subscribe */
/* start footer */
.footer-logo {
  width: 100px;
}
.footer {
  background-color: var(--dark-color);
}
.footer .copyright > span {
  color: var(--green-color);
}
.footer .inc {
  color: var(--yellow-color);
}
.footer .contact i {
  width: 20px;
  height: 20px;
}
.footer .facebook {
  background-color: #1877f2;
}
.footer .twitter {
  background-color: #1da1f2;
}
.footer .linkedin {
  background-color: #0a66c2;
}
.footer .youtube {
  background-color: #ff0000;
}
/* end footer */
